<div class="navbar navbar-expand-sm navbar-light navbar-lewagon <%= yield(:navbar_class) %>">
  <div class="container-fluid">
    <%= link_to root_path, class: "navbar-brand" do %>
      <%= image_tag "https://play-lh.googleusercontent.com/I49AaljSrt4c2XT_dS9EVv78byw9HcpF6kkEc3NKGkbc-V8Fc_xiymwp_q3sokgKZQ" %>
    <% end %>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <%# if user_signed_in? %>
          <li class="nav-item active m-3">
              <% if requester_signed_in? %>
                 <%= link_to "Requester log out", destroy_requester_session_path, data: {turbo_method: :delete}, class: "dropdown-item" %>
              <% end %>
          </li>
          
           <li class="nav-item active m-3">
              <% if assignee_signed_in? %>
                <%= link_to "Assignee log out", destroy_assignee_session_path, data: {turbo_method: :delete}, class: "dropdown-item" %>
              <% end %>
          </li>
      </ul>
    </div>
  </div>
</div>


