<h1> Order Detail </h1>
<table class="table">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Date of creation</th>
      <th scope="col">Address</th>
      <th scope="col">Status</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= @order.id %></td>
      <td><%= @order.created_at.strftime("%m/%d/%Y") %></td>
      <td><%= @order.address %></td>
      <td><%= @order.status %></td>
    </tr>
  </tbody>
</table>

<button type="button" class="btn btn-primary btn-sm"><td><%= link_to 'All Orders', orders_path %> </td></button>

  <% if @order.images.attached? %>
    <% @order.images.each do |image| %>
    <%= image_tag image%>
      <% end %>
    </div>
  <% end %>
